<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>downloader.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F55AA4C71E7C2B3200C48CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55AA4E01E7C2B3200C48CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F55AA4EB1E7C2B3300C48CF5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
